<ol class="breadcrumb">
  <li class='active'><%= link_to 'Авторизация', auth_path %></li>
</ol>
Авторизуйтесь при помощи одной (или нескольких) из социальных сетей:
<div class="btn-group">
  <button class='btn btn-success dropdown-toggle' data-toggle='dropdown'>
    <i class='fa fa-key'></i> Авторизоваться
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <% 'github facebook twitter yandex vkontakte'.split(' ').each do |z| %>
      <li><a href="/auth/<%= z%>"><%= z %></a></li>
    <% end %>
  </ul>
</div>

<li>uid=<%= session[:uid] %>
<li>name=<%= User.find(session[:uid]).name rescue nil %>
